.content-meta {
  margin-top: 0;
  color: var(--darkgray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }

  .new-indicator {
    font-size: 0.85em;
    opacity: 0.8;
  }
}
